[submodule "skills/poh-bft-writer"]
	path = skills/poh-bft-writer
	url = https://github.com/po-helper-org/poh-bft-writer.git
[submodule "skills/poh-okr-agent"]
	path = skills/poh-okr-agent
	url = https://github.com/po-helper-org/poh-okr-agent.git
[submodule "skills/poh-helper"]
	path = skills/poh-helper
	url = https://github.com/po-helper-org/poh-helper.git
[submodule "vendor/poh-morning-status"]
	path = vendor/poh-morning-status
	url = https://github.com/po-helper-org/poh-morning-status.git
[submodule "vendor/dsh-communication-plugin"]
	path = vendor/dsh-communication-plugin
	url = https://github.com/po-helper-org/dsh-communication-plugin.git
[submodule "skills/poh-sprint-agents"]
	path = skills/poh-sprint-agents
	url = https://github.com/po-helper-org/poh-sprint-agents.git
[submodule "vendor/poh-okr-plugin"]
	path = vendor/poh-okr-plugin
	url = https://github.com/po-helper-org/poh-okr-plugin.git
